body {
    background-color: black;
    color: white;
}
#text_area {
    padding: 4px;
}
.line {
    background-color: black;
    color: gray;
    margin: 0;
}
.line:first-child { /* 1行目，タイトルだけに反映される？ */
    size: 40px;
}
